Repository BF-FrontEnd-class-2025/group-2-loruki, pull requests merged in 2025-01, with the labels that each got.

#10 add project definition
  README.md
Labels: md, description

#9 add communication
  planning/communication.md
Labels: md, description

#11 add user personas
  .cspell.json
  planning/user-personas.md
Labels: md, description

#13 add design wireframe
  .cspell.json
  README.md
  planning/design.md
  planning/wireframe.png
Labels: md, description

#16 add update backlog
  planning/backlog.md
Labels: md, description

#14 changed wireframe image
  planning/wireframe.png
Labels: md, description

#19 add images
  images/cli.png
  images/cloud.png
  images/docs.png
  images/favicon.png
  images/logos/clojure.png
  images/logos/csharp.png
  images/logos/go.png
  images/logos/node.png
  images/logos/php.png
  images/logos/python.png
  images/logos/ruby.png
  images/logos/scala.png
  images/npm.png
  images/server.png
  images/server2.png
Labels: images

#38 add header
  index.html
  styles/something.css
Labels: html, css

#40 add first features
  index.html
  styles/something.css
Labels: html, css

#45 add stats
  index.html
  styles/something.css
Labels: html, css

#43 add second feature section
  index.html
Labels: html, css

#44 add suported languages
  index.html
  styles/something.css
Labels: html, css

#46 add footer
  index.html
  styles/something.css
Labels: html, css

#48 fix css link
  index.html
Labels: html

#70 add features head section
  features.html
Labels: html

#71 add features subhead section
  features.html
Labels: html, css

#72 add feature section
  features.html
Labels: html, css

#74 add features footer
  features.html
Labels: html, css

#77 update docs page planning
  features.html
  planning/backlog.md
  planning/design.md
  planning/development-strategy.md
  planning/docs-wireframe.png
Labels: md, description

#84 add docs head section
  docs.html
Labels: html

#85 add docs main content
  docs.html
Labels: html

#86 add footer docs
  docs.html
  features.html
  index.html
Labels: html

#89 adjusting README and retrospective file
  README.md
  planning/Screenshot-3.png
  planning/retrospective.md
  planning/screenshot-1.png
  planning/screenshot-2.png
Labels: md, description
